# Automatically normalize line endings (convert crlf =&gt; lf) for these files
*.csv text=auto
*.html text=auto
*.ipynb text=auto
*.markdown text=auto
*.md text=auto
*.py text=auto
*.txt text=auto
LICENSE text=auto
